name: build
on:
  push:
    branches: [main, feat/*]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './web/package-lock.json'
      - name: Build web + server
        run: make build
      - name: Docker build
        run: docker build --network=host -f Dockerfile-coop -t coop-test .
